/* Styles généraux pour le formulaire */
#contact {
    width: 700px;
    height: 400px; /* Limite la largeur du formulaire */
    margin: 0 auto; /* Centre le formulaire */
    padding: 2rem; /* Ajoute de l'espace autour du formulaire */
    background-color: var(--contained-color); /* Couleur de fond du formulaire */
    border-radius: var(--border-radius  ); /* Coins arrondis */
    box-shadow: var(--shadow); /* Ombre pour donner de la profondeur */
}

/* Styles pour les labels */
label {
    display: block; /* Affiche les labels en bloc */
    margin-bottom: 1rem; /* Espacement entre les labels */
    font-weight: bold; /* Texte en gras pour les labels */
}

/* Styles pour les champs de saisie */
input[type="email"],
textarea {
    width: 100%; /* Largeur complète */
    padding: 0.8rem; /* Espacement interne */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins arrondis */
    transition: border-color 0.3s; /* Transition pour changement de couleur */
}

/* Change la couleur de la bordure au focus */
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF; /* Couleur de la bordure au focus */
    outline: none; /* Supprime le contour par défaut */
}
